<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>历史扣分趋势</title>
</head>
<body>
<div style="position: relative;height: 2rem;z-index: 10;text-align: center;">
    <select id="select_year" style="display: inline-block;padding:0.5rem 1rem;font-size: 1rem">
        <option>2016</option>
        <option>2015</option>
    </select>
</div>
<div id='canvasDiv' style="position: absolute;height:100%;width: 100%;left: 0;top: 0"></div>
<p style="position: absolute;width: 100%;left: 0;top:3rem;color: #999999;text-align: center">点击柱状图可以查看扣分详情</p>

    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="../js/ichart.latest.min.js"></script>
    <script src="../js/trend.bundle.js?new123"></script>
</body>
</html>

