<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>我的驾驶证</title>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body class="bg_color">
    
	<div class="wrapper driverLicense" id="js_list">
	</div>
    <!-- <div style="background:#fff; padding: 1rem; font-size: 22px; text-align: center;">
        <label id="js_addlicense">
            <img  src="./images/add.jpg" style="width: 19px;" />
            继续添加
        </label>
    </div> -->
    <div class="cl_plus_car">
        <div id="js_addlicense" >
            点击添加驾驶证
        </div>
    </div>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script>
        var timeStamp = (+new Date());
        document.write('<script src="../js/license.bundle.js?' + timeStamp + '"><\/script>' )
    </script>
</body>
</html>